body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
    background-color: rgb(228, 228, 228);
}

.p5Canvas {
    border: 2px solid darkslategray;
}